<div class="container-fluid my-0 p-0 bg-indigo-900" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%= @champ.name_identifier %>_0.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: center;">
    <div class="container-fluid shade-bg m-0 p-0" style="min-height: 100vh;">
        <div class="d-flex flex-column align-items-center justify-content-center options-section">
            <div>
                <span class="display-5 text-light fw-bold">O campeão perfeito para você é...</span>
            </div>
            <div class="container-sm dark-card my-5 rounded-4 text-light">
                <div class="hstack gap-3">
                    <div class="m-2">
                        <%= image_tag "http://ddragon.leagueoflegends.com/cdn/img/champion/tiles/#{@champ.name_identifier}_0.jpg", alt: "", class: "rounded-circle", width: 300 %>
                    </div>
                    <div class="m-2 text-capitalized">
                        <h1><%= @champ.name %></h1>
                        <h4><%= @champ.title.titleize %></h4>
                        <p><%= t('champions.index.win_rate') %></p>
                        <div class="hstack gap-3 ms-3 mb-4">
                            <span><%= (@recommendation.win_rate * 100).ceil(2) %> %</span>
                            <span><%= render_win_rate_badge((@recommendation.win_rate * 100).ceil(2)) %></span>
                        </div>
                        <p><%= t('champions.index.pick_rate') %></p>
                        <div class="hstack gap-3 ms-3 mb-4 font-monospaced">
                            <span><%= (@recommendation.pick_rate * 100).ceil(2) %> %</span>
                            <span><%= render_pick_rate_badge((@recommendation.pick_rate * 100).ceil(2)) %></span>
                        </div>
                    </div>
                </div>
                <h4>Lore</h4>
                <p class="fw-light small"><%= @champ.lore %></p>
                <h4>Dicas!</h4>
                <p class="fw-light small"><%= @champ.ally_tips %></p>
            </div>
        </div>
    </div>
</div>