<nav class="navbar sticky-top nav-pills navbar-expand-lg navbar-dark bg-indigo-900">
  <div class="container-sm justify-content-center">
    <a class="navbar-brand mx-4" href="<%= root_path %>">
      <%= image_tag 'logo.svg' %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent" style="flex-grow: 0;">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item mx-1" style="color: #000;">
          <a class="nav-link" aria-current="page" href="<%= root_path %>"><%= t('navbar.home')%></a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" href="<%= new_recommendation_path %>"><%= t('navbar.recommendations')%> </a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" href="<%= champions_path %>"><%=t('navbar.champions')%></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase text-center dropdown-toggle dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('navbar.language') %>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="<%=current_path_translated_to('pt-BR')%>"><span class="flag-icon flag-icon-br"></span>&nbsp<%=t('navbar.portuguese')%></a></li>
            <li><a class="dropdown-item" href="<%=current_path_translated_to(:es)%>"><span class=" flag-icon flag-icon-es"></span>&nbsp<%=t('navbar.spanish')%></a></li>
            <li><a class="dropdown-item" href="<%=current_path_translated_to(:en)%>"><span class="flag-icon flag-icon-us"></span>&nbsp<%=t('navbar.english')%></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
