<div class="container-fluid px-0" style="background-image: url(<%= image_url 'vayne.jpg' %>);background-size: cover; background-attachment: fixed; background-position: center;">
  <div class="container-fluid top-gradient">
    <div class="container-sm d-flex flex-column justify-content-center vh-100">
      <div class="m-2">
        <h1 class="display-1 fw-bold text-center home-title"><%= t('home.title') %></h1>
        <section class="lead text-center home-text">
          <%= t('home.text') %>
        </section>
      </div>
      <div class="m-5 d-flex justify-content-center">
        <a href="<%= new_recommendation_path %>" class="btn btn-lg btn-hover color-3">
          <span class="text-uppercase fw-bold text-white text-wrap"><%= t('home.start_button') %></span>
        </a>
      </div>
    </div>
  </div>
</div>