<div class="container-fluid bg-dark">
  <div class="container-sm">
    <table class="table table-striped table-dark my-0">
      <thead>
        <th scope="col" class="small fw-lighter ms-5">#</th>
        <th scope="col" class="text-capitalize"><%= t('champions.index.champion') %></th>
        <th scope="col" class="text-capitalize"><%= t('champions.index.position') %></th>
        <th scope="col" class="text-capitalize"><%= t('champions.index.win_rate') %></th>
        <th scope="col" class="text-capitalize"><%= t('champions.index.pick_rate') %></th>
      <thead>
      <tbody class="align-middle">
        <% @statistics.each_with_index do |statistic, idx| %>
          <% champion = statistic.champion %>
          <tr id="champion-<%= champion.key %>">
            <th scope="row" class="small fw-lighter ms-2"><%= idx + 1 %></th>
            <td>
              <a class="d-flex align-items-center text-decoration-none text-light" href="<%= champion_path(champion) %>">
              <%= image_tag("http://ddragon.leagueoflegends.com/cdn/12.22.1/img/champion/#{champion.name_identifier}.png", class: 'mx-2 rounded-circle', size: 38) %>
              <%= champion.name %>
            </td>
            <td class="font-monospace text-uppercase small">
              <%= t("lanes.#{statistic.position}.name") %>
            </td>
            <td class="small">
              <div class="hstack gap-3">
                <%= (statistic.win_rate * 100).round(2) %> %
                <%= render_win_rate_badge((statistic.win_rate * 100).round(2)) %>
              </div>
            </td>
            <td class="small">
              <div class="hstack gap-3">
                <%= (statistic.pick_rate * 100).round(2) %> %
                <%= render_pick_rate_badge((statistic.pick_rate * 100).round(2)) %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>